@{
    <title>@ViewData["Title"] - Desk App</title>
 }

        <h2> About Us</h2>

        <h5>Mansimran Kaur</h5>

<br /><br />
<img src = "https://cdn.propertynest.com/images/office-desk.2e16d0ba.fill-1200x630.jpg" height=" 400" width=" 500"/>
        <p>
            While our standing desks are ideal for your home and office, many people aren’t aware that they’re in fact built to be suitable for industrial settings too! With weight capacities of up to 330 lbs, height ranges from 23.6” to 49.1”, and UL, cUL & BIFMA certification, they’re the ideal industrial standing desk for work.</p>

          <p>  Alongside our desk frames, we also design and supply electric lifting columns that can be paired with a tabletop of your choice! While all of our tabletops are stain and scratch resistant and, like many of our desk frames, have a huge 15-year warranty, you can also pair our industrial desk base with a tabletop of your choice!</p>
        